
body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, li, span, button {
    margin: 0;
    letter-spacing: 0.08em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}